body{
    font-family: 'Tajawal', sans-serif;
    background: linear-gradient(145deg, #ffffff 35%, #3498db 100%);
    min-height: 100vh;
    animation: fadeIn 3s  ease-out;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.cursor::after {
  content: "|";
  display: inline-block;
  margin-left: 5px;
  animation: blink 0.7s infinite;
  color: #0891b2;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  50.01%, 100% { opacity: 0; }
}

#titlee{
    background: linear-gradient(45deg, #3498db, #2ecc71);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#title::after {
  display: inline-block;
  margin-left: 5px;
  animation: blink 0.7s infinite;
  color: #0891b2;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  50.01%, 100% { opacity: 0; }
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #3498db, #2ecc71);
}
